{% load is_lecturer %}

        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>C</span>ARS <span>C</span>COLLECTION</a></h1>

        {% if user.is_authenticated %}

            <nav>

                <section>
                        <form id="search" method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <input class="form-control me-2"
                                   name="target" type="search" placeholder="Search Course" aria-label="search box">
                            <input class="button" type="submit" value="Search">
                        </form>
                </section>

                <a href="{% url 'catalogue' %}">Catalogue</a>
                <a href="{% url 'profile user' user.pk %}">Profile</a>

                {% is_lecturer user as is_lecturer_flag %}
                {% is_master user as is_master_flag %}
                    {% if "app_course.add_coursemodel" in perms and is_lecturer_flag or is_master_flag  %}

                        <a href="{% url 'new course' %}">Publish course</a>

                    {% endif %}

                <a href="{% url 'logout user' %}">Logout</a>
            </nav>

        {% else  %}

            <nav>
                <a href="{% url 'new user' %}">New User</a>
                <a href="{% url 'login user' %}">Login</a>
            </nav>

        {% endif %}

