{% extends 'base.html' %}

{% block main_content %}

    {% if courses %}

        {% for course in courses %}

            {% include 'partials/course-card.html' %}

        {% endfor %}

    {% else %}

        <!-- Display paragraph: If there are no cars yet-->
        <p class="no-articles">No Courses</p>

    {% endif %}



    {% if courses.has_previous %}

        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ courses.previous_page_number }}">Previous</a>

    {% endif %}

        Page {{ courses.number }} of {{ courses.paginator.num_pages }}

    {% if courses.has_next %}

        <a href="?page= {{ courses.next_page_number }}">Next</a>
        <a href="?page={{ courses.paginator.num_pages }}">Last &raquo;</a>

    {% endif %}

{% endblock %}